body {
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-body {
    width: 400px;
    height: 700px;
    border-radius: 5%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: black;
    padding: 30px;
}

#calculator-display {
    flex-grow: 2;
    background-color: #444;
    margin: 0px 15px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 340px;
    height: 14px;
    font-size: 54px;
    color: white;
    padding: 0px 15px;
}

#calculator-buttons {
    flex-grow: 8;
    display: flex;
    flex-flow: column;
    gap: 15px;
}
.calculator-row {
    flex-grow: 1;
    display: flex;
    gap: 15px;
}

.button {
    flex-grow: 1;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    color: white;
    width: 88.75px;
}

.button-variant-one {
    background-color: #bbb;
    color: black;
}

.button-variant-two {
    background-color: #e69c2d;
}

#button-zero {
    width: 192.5px;
}




