body {
    margin: 0;
    padding: 0;
}

#container {
    border: 2px solid red;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#calculator-body {
    width: 40vw;
    height: 70vh;
    border: 2px solid green;
    border-radius: 5%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background-color: #777;
}

#calculator-display {
    flex-grow: 2;
    background-color: #ddd;
    margin: 35px 35px 20px;

}

#calculator-buttons {
    flex-grow: 8;
    display: flex;
    flex-flow: column;
}
.calculator-row {
    flex-grow: 1;
    display: flex;
    padding: 15px;
    gap: 15px;
}

.button {
    border: 2px solid blue;
    flex-grow: 6;
    background-color: #333;
}

.button-variant-one {
    background-color: #DDD;
}

.button-variant-two {
    background-color: #e69c2d;
}

#zero-button {
    flex-grow: 13;
}




